RewriteEngine On

RewriteCond %{REQUEST_URI}  !(assets|public) [NC]

<Files "chai">  
  Order Allow,Deny
  Deny from all
</Files>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L]